@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

html,
body {
  height: 100%;
}

body {
  padding-bottom: 40px;
  background-color: #f5f5f5;
  font: normal normal normal 17px/21px 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #1b1e21;
}

a:hover {
  text-decoration: none;
  color: #0a0a0a;
}

#header {
  background-size: auto;
  background-size: cover;
  background-image: url("../img/library.jpg");
  width: 100%;
  height: 100vh;
  max-height: 400px;
  position: relative;
  color: #FFF;
}

.header-text {
  font-size: 2vw;
  width: 500px;
  text-align: center;
  position: absolute;
  top: 60%;
  z-index: 155;
  opacity: 0;
  transition: opacity 5s ease-in-out;
}

.header-text.show {
  opacity: 1;
}

#header nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 401;
  background: #ffffff00;
  color: #fff !important;
}

#header.shrink nav {
  position: fixed;
}

nav.bg-dark {
  background: #00000075 !important;
}

nav.show {
  background: #ffffff;
}

nav ul li a {
  color: #fff;
}

nav ul li a:hover {
  color: #fff;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

button {
  margin-bottom: 5px;
}
